/*Configuração Cartao Genérico*/

.card{
    margin-top: 100px;    
}

.card .card-body{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    transform: translate(0%) scale(1.0);
    transition: transform 0.5s ease-in;
}

.card .card-body:hover{
    transform: translate(-25%) scale(1.2);
    transition: transform 0.5s ease-in;
}


/*Configuração Cartao Visão*/

.visao{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.visao .card img:hover{
    transform: none;
    z-index: 0;
    transition: transform 0.5s ease-in;
    box-shadow: none;
}

.visao .card .card-img-overlay{
    transform: translateY(100%);
    transition: transform 0.5s ease-in;
    color: transparent;
}

.visao .card:hover .card-img-overlay{
    transform: translateY(0%);
    transition: transform 1.5s linear;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(137, 137, 137, 0.6));
}

.visao .card .card-img-overlay{
    text-align: justify;
    margin-top: 30%;
    margin-bottom: auto;
}

.texto-visao{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
}

/*Fim*/



/*Configuração Cartao Missão*/

.imagem-missao{
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.imagem-missao img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

.texto-missao{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Fim*/

/*INICIO ANIMAÇÃO FRASE (Missão)*/

@keyframes typing-l1 {
    0%{
        color: black;
        width: 0;
    }
    100%{
        color: black;
        width: 100%;
    }
}

@keyframes typing-l2 {
    0%{
        color: black;
        width: 0%;
    }
    100%{
        color: black;
        width: 100%;
    }
}

.texto-missao .l1,
.texto-missao .l2
{
    color: transparent;
}


.texto-missao .l1{
    overflow: hidden;
    white-space: nowrap;
    animation: typing-l1 5s steps(40) forwards;
}

.texto-missao .l2{
    overflow: hidden;
    white-space: nowrap;
    animation: typing-l2 5s 5s steps(100) forwards;
}

/*Fim*/


/*INICIO ANIMAÇÃO FRASE VERSAO-2*/
.frase{
    height: 150px;
    padding-top: 200px;
    font-size: 45px;
    font-weight: 300;
}
.frase span {
    position: relative;
}
.frase span::before {
    content: "";
    color: rgb(54, 48, 41);
    animation: palavras 20s infinite;
    font-weight: bold;
}
.frase span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid rgb(5, 5, 5);
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 18px);   
    background-color: white;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 10px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid rgb(247, 244, 244);
    }
}

@keyframes palavras {
    0%,20%{
        content: "Fotografia Individual";
    }
    21%,40%{
        content: "Fotografia de Casal";
    }
    41%,60%{
        content: "Fotografia de Familia";
    }
    61%,80%{
        content: "Fotografia de Casamentos";
    }
    81%,100%{
        content: "Fotografia de Aniversários";
    }
}
/*FIM ANIMAÇÃO FRASE */


/*INICIO ANIMAÇÃO FRASE VERSAO-3*/
.frase p {
    font-family: "Doto";
    font-size: 2.5rem;
    /* margin-inline: auto; */
    overflow: hidden;
    /* Manter numa só linha */
    white-space: nowrap;
    /*cursor a piscar*/
    border-right: 1px solid;
    /* steps=numero de letras*/
    animation: typing 3s steps(12) forwards, blink 1s step-end infinite;
}

@keyframes typing {
    from{
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

.card img:hover{
    transform: translate(60%) scale(1.2) rotate(-10deg);
    transition: transform 0.5s ease-in-out;
}

.loop-infinito{
    height: 500px;
}

.loop-infinito:hover{
    transform: translateY(-100%);
    transition: transform 3s ease-in-out;
    overflow: hidden;
}